<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/script/exportPDF.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <button id="export-pdf" type="button">Export PDF</button>
    <main class="flex-space" id="page-flex">

        <h2>The scraped building constructions</h2>
        <table>
            <th>
                <h3>Category</h3>
            </th>
            <th>
                <h3>ID of Material</h3>
            </th>
            <th>
                <h3>Area</h3>
            </th>
            <% buildingdetails.attribute.forEach(function(item)		
			//why do we use buildingdetails.attribute, because of hierarchy: building->buildingcollection->buildingdetails: id, adress, attribute->attribute->name, info, result
				
				{ %>
                <tbody>
                    <tr>

                        <td>
                            <p>
                                <%= item.Category %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <%= item.Type %>
                            </p>
                        </td>
                        <td>
                            <p>

                                <%= item.Area %>
                            </p>
                        </td>

                    </tr>
                </tbody>
                <% }); 
			%>
			</table>
            <table id="materials">
                <th>
                    <h3>Material</h3>
                </th>
                <th>
                    <h3>Quantity (kg)</h3>
                </th>
                <% Object.entries(materialDetails).forEach(([k,v]) =>
                    { %>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <%= k %>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <%= v %>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                    <% }); 
                %>
                </table>
        <br>
        <h2 style="margin-top: 180px;">Pie Chart</h2>
        <div style="height: 900px; width: 100%; display: flex; justify-content: center">
            <div style="width: 42vw">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        
        <script>
            const ctx = document.getElementById('myChart').getContext('2d')
            let materialDetails = '<%- JSON.stringify(materialDetails) %>'
            materialDetails = JSON.parse(materialDetails)
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: Object.keys(materialDetails),
                    datasets: [{data: Object.values(materialDetails)}]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                boxWidth: 50,
                                boxHeight: 50
                            }
                        }
                    },
                    layout: {
                        autoPadding: false
                    }
                }
            })
        </script>
    </main>    
</body>
</html>